CVision/.vs/
CVision/bin/
CVision/obj/
CVision/appsettings.json
CVision/db.py

**/__pycache__/
*.pyc
*.pyo
*.pyd
CVision/project.log
CVision/__pycache__.zip

frontend/node_modules/
frontend/dist/
frontend/.env

.vscode/
.idea/

.DS_Store
Thumbs.db
